[windows]
vm-dev-client-01 ansible_host=10.10.0.4

[windows:vars]
ansible_user=REDACTED
ansible_password=REDACTED
ansible_connection=winrm
ansible_port=5985
ansible_winrm_scheme=http
ansible_winrm_transport=ntlm
ansible_winrm_server_cert_validation=ignore
